@import "tailwindcss";

:root {
  --background: #f9f5f2;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --color-primary: #abc798;
  --color-primary-dark: #7a9970;
  --color-pink: #ffc4eb;
  --color-pink-light: #ffe4fa;
  --color-tan: #e1dabd;
  --color-tan-light: #f1dedc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
